@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clear Sans";
  src: url("/assets/fonts/clearsans/ttf/ClearSans-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/EBGaramond//ttf/ClearSans-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Clear Sans";
  src: url("/fonts/EBGaramond/ttf/ClearSans-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
